<div id="nasa-pod" class="element-shadow">
  <nasa-pod-header (click)="externalClick()"></nasa-pod-header>
  <main>
    <div
      nasa-photo-body
      (outputData)="searchResults($event)"
      class="column-data"
      (click)="externalClick()"
    >
      <div class="photo"></div>
      <p>Photo description ...</p>
    </div>
    <div nasa-search class="column-search"></div>
    <div
      class="history"
      *ngIf="history != undefined && history.length > 0"
      (click)="externalClick()"
    >
      <p>History</p>
      <div class="vertical-slider">
        <div class="img-wrapper">
          <div
            *ngFor="let item of history.slice().reverse()"
            (click)="loadDataSet(item)"
          >
            <span>{{ item.date }}</span>
            <img *ngIf="item.media_type === 'image'" src="{{ item.url }}" />
            <img
              class="video"
              *ngIf="item.media_type === 'video'"
              src="../../../../../assets/img/you-tube.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
